.rootNode {
    -fx-background-color: #D6CFCD;
}
.header {
    -fx-text-fill: #040759;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 50px;
}
.hBoxField {
    -fx-spacing: 20px;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 25px;
}
.usernameLabel {
   -fx-padding: 10 0 0 0;
}
.passwordLabel {
    -fx-padding: 10 5 0 0;
}
.btnLogin {
    -fx-background-color: #AADDA9;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 25px;
    -fx-cursor: hand;
    -fx-pref-width: 125px;
    -fx-pref-height: 50px;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.vBoxField {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20px;
}
.btnRegister{
    -fx-background-color: transparent;
    -fx-text-fill: blue;
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-padding: 0 0 0 130;
}