@import "global.css";

Label, CheckBox {
    -fx-text-fill: -fx-dark;
    -fx-font-size: 15;
}

.heading {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.descriptionLabel {
    -fx-font-weight: bold;
}

.handleBtn {
    -fx-font-size: 15;
}

.rentLabel {
    -fx-background-color: #198754;
    -fx-text-fill: white;
    -fx-padding: 8px;
}