@import "global.css";

Label, CheckBox {
    -fx-text-fill: -fx-dark;
    -fx-font-size: 15;
}

.heading {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.descriptionLabel {
    -fx-font-weight: bold;
}

.handleBtn {
    -fx-font-size: 15;
}

.combo-box {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.rentLabel {
    -fx-background-color: #198754;
    -fx-text-fill: white;
    -fx-padding: 8px;
}