@import "global.css";

.navBar {
    -fx-background-color: -fx-alt-primary;
}

.hamburgerMenu {
    -fx-background-color: transparent;
}

.navBtn {
    -fx-background-color: -fx-alt-primary;
    -fx-background-radius:  30 0 0 30 !important;
    -fx-border-color: transparent !important;
}

.navBtn.active {
    -fx-background-color: -fx-alt-active;
}

.navBtn .icon {
    -fx-fill: #FFFFFF;
}

.navBtn:hover {
    -fx-background-color:  -fx-alt-active;
}