.navBar {
    -fx-background-color: #36334f;
}

.hamburgerMenu {
    -fx-background-color: transparent;
}

.navBtn {
    -fx-background-color:  #393351;
    -fx-background-radius:  30 0 0 30;
    -fx-cursor: hand;
}

.navBtn.active {
    -fx-background-color: #2c2a3f;
}

.navBtn .icon {
    -fx-fill: #FFFFFF;
}

.navBtn:hover {
    -fx-background-color:  #2c2a3f;
}