@import "global.css";

.inputField {
    -fx-font-size: 20px;
    -fx-font-family: "Arial Rounded MT Bold";
}
CheckBox {
    -fx-font-size: 20px;
    -fx-font-family: "Arial Rounded MT Bold";
}
Label {
    -fx-font-size: 20px;
}
Button {
    -fx-font-size: 25px;
}






