.rootNode {
    -fx-background-color: #D6CFCD;
}
.header {
    -fx-text-fill: #040759;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 40px;
}
.errorMessageLabel {
    -fx-text-fill: RED;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15px;
}
.hBoxField {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20px;
}
.usernameLabel {
    -fx-padding: 7 118 0 0;
}
.passwordLabel {
    -fx-padding: 7 121 0 0;
}
.repeatPasswordLabel{
    -fx-padding: 7 46 0 0;
}
.emailLabel {
    -fx-padding: 7 164 0 0;
}
.phoneLabel {
    -fx-padding: 7 156 0 0;
}
.nameLabel {
    -fx-padding: 7 162 0 0;
}
.surnameLabel {
    -fx-padding: 7 130 0 0;
}
.inputField {
    -fx-font-size: 20px;
    -fx-font-family: "Arial Rounded MT Bold";
}
.operatorRb {
    -fx-padding: 7 40 0 0;
    -fx-font-size: 20px;
    -fx-font-family: "Arial Rounded MT Bold";
}
.renterCb {
    -fx-padding: 7 40 0 0;
    -fx-font-size: 20px;
    -fx-font-family: "Arial Rounded MT Bold";
}
.providerCb {
    -fx-padding: 7 40 0 0;
    -fx-font-size: 20px;
    -fx-font-family: "Arial Rounded MT Bold";
}

.cancelBtn {
    -fx-background-color: #E17575;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 25px;
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.registerBtn {
    -fx-background-color: #AADDA9;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 25px;
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}















.Button {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15px;
    -fx-cursor: hand;
    -fx-pref-width: 80px;
    -fx-pref-height: 30px;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}







