.listView {
    -fx-background-color: transparent;
}

.searchBar {
    -fx-background-color: #eac14f;
    -fx-background-radius: 20;
}

.btn {
    -fx-background-color: #c5e0b4;
    -fx-border-color: #809f58;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.heading {
    -fx-text-fill: #FFFFFF;
}

CheckBox {
    -fx-text-fill: #FFFFFF;
}

ScrollPane {
    -fx-background: linear-gradient(to right, #FFDEE9, #B5FFFC);
    -fx-border-color: linear-gradient(to right, #FFDEE9, #B5FFFC);
}



