@import "global.css";

CheckBox {
    -fx-text-fill: #FFFFFF;
}

.resetBtn {
    -fx-font-size: 10;
}
ScrollPane {
    -fx-background: linear-gradient(to right, #FFDEE9, #B5FFFC);
    -fx-border-color: linear-gradient(to right, #FFDEE9, #B5FFFC);
}



