.rootNode {
}
.header {
    -fx-text-fill: #040759;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 50px;
}
.errorMessageLabel {
    -fx-text-fill: RED;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15px;
}

